<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esiran.greenpay.merchant.mapper.PrepaidAccountMapper">
    <update id="updateBalance">
        UPDATE `merchant_prepaid_account`
        SET `avail_balance` = `avail_balance` - ${availAmount},
            `freeze_balance` = `freeze_balance` - ${freezeAmount}
        WHERE `merchant_id` = ${mchId}
          AND `avail_balance` >= ${availAmount}
          AND `freeze_balance` >= ${freezeAmount}
    </update>
    <select id="selectAvailBalance">
        SELECT `avail_balance`- ${amount} AS avail_balance
        FROM merchant_prepaid_account
        WHERE merchant_id = ${mchId};
    </select>
</mapper>
