<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>单笔代付 - GreenPay</title>
    <th:block th:replace="merchant/header::stylesheet"/>
</head>
<body>
<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <div class="layui-row">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">账号名</label>
                    <div class="layui-input-block">
                        <input type="text" name="bankName"  id="bankName" required  lay-verify="required" placeholder="请输入账户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">银行账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="accountNumber" id="accountNumber" required  lay-verify="required" placeholder="请输入银行账号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">提现金额</label>
                    <div class="layui-input-block">
                        <input type="text" name="replaceMoney" id="replaceMoney" required  lay-verify="required" placeholder="请输入代付金额" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="merchant/footer::script"/>
<script th:inline="none">
    !function(){
        let layer = layui.layer,
            form = layui.form,
            $ = layui.jquery;

        form.on('submit(formDemo)', function(data){
            $.ajax({
                url:'/merchant/api/v1/replaceExtract',
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    if(res.code == 0){
                        layer.msg(res.msg);
                    }
                    else
                        layer.msg(res.msg);
                },
                error:function (data) {
                    throw data;
                }
            })
            return false;
        });

    }();
</script>
</body>
<style>
    iframe{
        height: 100% !important;
    }
    .layui-form-label{
        width: 60px;
    }
    .layui-input-block{
        margin-left: 90px !important;
        min-height: 36px !important;
        margin-right: 20px !important;
    }
</style>
</html>