<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>代付列表 - GreenPay</title>
    <th:block th:replace="merchant/header::stylesheet"/>
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="merchant/header::nav"></div>
        <div th:replace="merchant/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div class="layui-fluid">
                    <div class="layui-card">
                        <div class="layui-tab layui-tab-brief">
                            <ul class="layui-tab-title">
                                <li class="layui-this">代付列表</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <div class="layui-row">
                                        <div class="layui-form" style="float:right; margin-bottom: 10px;">
                                            <div class="layui-form-item" style="margin:0;">
                                                <div class="layui-input-inline">
                                                    <input type="text" name="createTimeStart" id="createTimeStart"
                                                           autocomplete="off" placeholder="开始时间" class="layui-input"
                                                           lay-key="9">
                                                </div>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="createTimeEnd" id="createTimeEnd"
                                                           autocomplete="off" placeholder="结束时间" class="layui-input"
                                                           lay-key="10">
                                                </div>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="replaceId" id="replaceId"
                                                           placeholder="代付单号" autocomplete="off" class="layui-input">
                                                </div>
                                                <div class="layui-input-inline">
                                                    <div class="layui-input-block">
                                                        <select name="status" id="status" lay-verify="required">
                                                            <option value="-99">状态</option>
                                                            <option value="1">审核通过</option>
                                                            <option value="0">待审核</option>
                                                            <option value="-1">审核失败</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <button id="search" class="layui-btn" data-type="reload" >搜索</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <table id="replaceList" lay-filter="replace"></table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="merchant/footer::script"/>
<script th:inline="none">
    !function(){
        let layer = layui.layer
            ,table = layui.table
            ,laydate = layui.laydate;
        //第一个实例
        table.render({
            elem: '#replaceList',
            url: '/merchant/api/v1/replaceLists', //数据接口
            page: true,//开启分页
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": 0,
                    "msg": res.message,
                    "count": res.total,
                    "data": res.records
                };
            }
            , request: {
                pageName: 'current',
                limitName: 'size'
            }
            , cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                , {field: 'replaceId', title: '代付订单号', width: "15%",align:'center'}
                , {field: 'replaceMoney', title: '代付金额', width: "15%",align:'center'}
                , {field: 'status', title: '状态', width: "15%" ,align:'center'}
                , {field: 'createdAt', title: '创建时间', width: "15%",align:'center'}
                ,{title: '操作', align: 'left', width:'15%'}
            ]]
        });
        laydate.render({
            elem: '#createTimeStart'
        });
        laydate.render({
            elem: '#createTimeEnd'
        });
    }();
</script>
</body>
</html>