<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>订单详情 - GreenPay</title>
    <th:block th:replace="admin/header::stylesheet" />
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="admin/header::nav"></div>
        <div th:replace="admin/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div th:replace="admin/compose::layui-breadcrumb('订单管理','订单详情')"></div>
                <div class="layui-fluid">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <fieldset class="layui-elem-field layui-field-title">
                                <legend>基础信息</legend>
                                <div class="layui-field-box">
                                    <div class="admin-detail">
                                        <div class="admin-detail-view">
                                            <table>
                                                <tbody>
                                                <!--交易订单号-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="orderNo" class="layui-form-label">
                                                                交易订单号
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       type="text" id="orderNo"
                                                                       th:value="${order.orderNo}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--交易流水号-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="orderSn" class="layui-form-label">
                                                                交易流水号
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="orderSn"
                                                                       th:value="${order.orderSn}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--商户订单号-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="outOrderNo" class="layui-form-label">
                                                                商户订单号
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="outOrderNo" th:value="${order.outOrderNo}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--订单状态-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="status" class="layui-form-label">
                                                                订单状态
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       type="text" id="status"
                                                                       th:value="${order.statusDisplay}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--应用ID-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="appId" class="layui-form-label">
                                                                应用ID
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="appId" th:value="${order.appId}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--商户ID-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="mchId" class="layui-form-label">
                                                                商户ID
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="mchId" th:value="${order.mchId}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--商品标题-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="subject" class="layui-form-label">
                                                                商品标题
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="subject" th:value="${order.subject}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--商品描述-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="body" class="layui-form-label">
                                                                商品描述
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       type="text" id="body"
                                                                       th:value="${order.body}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--订单金额-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="amount" class="layui-form-label">
                                                                订单金额
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="amount" th:value="${order.amountDisplay}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--支付金额-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="payAmount" class="layui-form-label">
                                                                支付金额
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="payAmount" type="text"
                                                                       th:value="${order.amountDisplay}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--订单手续费-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="fee" class="layui-form-label">
                                                                订单手续费
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="fee" th:value="${order.feeDisplay}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--回调地址-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="notifyUrl" class="layui-form-label">
                                                                回调地址
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="notifyUrl" th:value="${order.notifyUrl}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--跳转链接-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="redirectUrl" class="layui-form-label">
                                                                跳转链接
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="redirectUrl" th:value="${order.redirectUrl}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--创建时间-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="createdAt" class="layui-form-label">
                                                                创建时间
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="createdAt" th:value="${order.createdAtDisplay}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--过期时间-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="expiredAt" class="layui-form-label">
                                                                过期时间
                                                            </label>
                                                            <div class="layui-input-block" style="margin-bottom: 0" >
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="expiredAt" th:value="${order.expiredAtDisplay}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--更新时间-->
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="updatedAt" class="layui-form-label">
                                                                更新时间
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="updatedAt" th:value="${order.updatedAtDisplay}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="layui-elem-field layui-field-title">
                                <legend>支付信息</legend>
                                <div class="layui-field-box">
                                    <div class="admin-detail">
                                        <div class="admin-detail-view">
                                            <table>
                                                <tbody>
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="paidAt" class="layui-form-label">
                                                                支付时间
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="paidAt" th:value="${order.paidAtDisplay}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="payTypeCode" class="layui-form-label">
                                                                支付类型
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="payTypeCode" th:value="${orderDetail.payTypeCode}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="payProductId" class="layui-form-label">
                                                                支付产品
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="payProductId" th:value="${orderDetail.payProductId}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="payPassageId" class="layui-form-label">
                                                                支付通道
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="payPassageId" th:value="${orderDetail.payPassageId}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="payPassageAccId" class="layui-form-label">
                                                                通道子账户
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="payPassageAccId" th:value="${orderDetail.payPassageAccId}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="admin-detail-row">
                                                    <td class="layui-form layui-form-pane" colspan="1">
                                                        <div class="layui-form-item">
                                                            <label for="payInterfaceId" class="layui-form-label">
                                                                支付接口
                                                            </label>
                                                            <div class="layui-input-block">
                                                                <input type="text" class="layui-input"
                                                                       autocomplete="off" readonly
                                                                       id="payInterfaceId" th:value="${orderDetail.payInterfaceId}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="admin/footer::script"/>
<script th:inline="none">
    !function(){
        let layer = layui.layer
            ,table = layui.table;
    }();
</script>

</body>
</html>