<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>编辑商户 - GreenPay</title>
    <th:block th:replace="admin/header::stylesheet" />
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="admin/header::nav"></div>
        <div th:replace="admin/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div th:replace="admin/compose::layui-breadcrumb('商户管理','编辑商户')"></div>
                <div class="layui-fluid">
                    <div class="layui-row layui-col-space10">
                        <div class="layui-col-md6">
                            <div class="layui-row" style="padding-bottom: 10px">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">基本信息</div>
                                        <div class="layui-card-body">
                                            <form class="layui-form" method="post">
                                                <div class="layui-row layui-form-item">
                                                    <label for="username" class="layui-form-label">用户名：</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" class="layui-input"
                                                               id="username" readonly
                                                               th:value="${merchant.username}"
                                                               autocomplete="off"
                                                               placeholder="请输入用户名">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="merchantName" class="layui-form-label">商户名称：</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" class="layui-input"
                                                               name="merchantName" id="merchantName"
                                                               th:value="${merchant.name}"
                                                               autocomplete="off"
                                                               placeholder="请输入商户名称">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="email" class="layui-form-label">电子邮箱：</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" class="layui-input"
                                                               name="email" id="email"
                                                               th:value="${merchant.email}"
                                                               autocomplete="off"
                                                               placeholder="请输入电子邮箱">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="status" class="layui-form-label">状态：</label>
                                                    <div class="layui-input-block">
                                                        <input id="status" type="radio" name="status" value="0" title="关闭" th:checked="${merchant.status == false}">
                                                        <input type="radio" name="status" value="1" title="开启" th:checked="${merchant.status == true}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <div class="layui-input-block">
                                                        <input type="hidden" name="method" value="updateUserInfo">
                                                        <button type="submit" class="layui-btn" lay-submit lay-filter="updateUserInfo">保存修改</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row" style="padding-bottom: 10px">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">支付账户</div>
                                        <div class="layui-card-body">
                                            <form class="layui-form" action="">
                                                <div class="layui-form-item">
                                                    <label for="payAvailBalance" class="layui-form-label" style="width: 120px">
                                                        可用余额（元）：
                                                    </label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               id="payAvailBalance" readonly
                                                               th:value="${#numbers.formatDecimal(merchant.payAccount.availBalance/100.00,1,2)}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="payFreezeBalance" class="layui-form-label" style="width: 120px">
                                                        冻结金额（元）：
                                                    </label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               id="payFreezeBalance" readonly
                                                               th:value="${#numbers.formatDecimal(merchant.payAccount.freezeBalance/100.00,1,2)}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label  style="width: 120px"
                                                            for="payAccount-action_up"
                                                            class="layui-form-label">
                                                        变更方式：
                                                    </label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input id="payAccount-action_up" type="radio" name="action" value="1" title="增加" checked>
                                                        <input type="radio" name="action" value="2" title="扣减">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label  style="width: 120px"
                                                            for="payAccount-type_avail"
                                                            class="layui-form-label">
                                                        变更类型：
                                                    </label>
                                                    <div class="layui-input-block"  style="margin-left: 150px;">
                                                        <input id="payAccount-type_avail" type="radio" name="type" value="1" title="可用余额" checked>
                                                        <input type="radio" name="type" value="2" title="冻结金额">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="changePayAmount" class="layui-form-label" style="width: 120px">变更金额（元）：</label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               name="amount" id="changePayAmount"
                                                               autocomplete="off"
                                                               placeholder="请输入变更金额（元）。保留两位小数，精确到分">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="hidden" name="method" value="upPayBalance">
                                                        <button type="submit" class="layui-btn" lay-submit lay-filter="upPayBalance">确认提交</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row" style="padding-bottom: 10px">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">预充值账户</div>
                                        <div class="layui-card-body">
                                            <form class="layui-form" action="">
                                                <div class="layui-form-item">
                                                    <label for="prepaidAvailBalance" class="layui-form-label" style="width: 120px">
                                                        可用余额（元）：
                                                    </label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               id="prepaidAvailBalance" readonly
                                                               th:value="${#numbers.formatDecimal(merchant.prepaidAccount.availBalance/100.00,1,2)}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="prepaidFreezeBalance" class="layui-form-label" style="width: 120px">
                                                        冻结金额（元）：
                                                    </label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               id="prepaidFreezeBalance" readonly
                                                               th:value="${#numbers.formatDecimal(merchant.prepaidAccount.freezeBalance/100.00,1,2)}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label  style="width: 120px"
                                                            for="prepaidAccout-action_up"
                                                            class="layui-form-label">
                                                        变更方式：
                                                    </label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input id="prepaidAccout-action_up" type="radio" name="action" value="1" title="增加" checked>
                                                        <input type="radio" name="action" value="2" title="扣减">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label  style="width: 120px"
                                                            for="prepaidAccount-type_avail"
                                                            class="layui-form-label">
                                                        变更类型：
                                                    </label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input id="prepaidAccount-type_avail" type="radio" name="type" value="1" title="可用余额" checked>
                                                        <input type="radio" name="type" value="2" title="冻结金额">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="changePrepaidAmount" class="layui-form-label" style="width: 120px">变更金额（元）：</label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               name="amount" id="changePrepaidAmount"
                                                               autocomplete="off"
                                                               placeholder="请输入变更金额（元）。保留两位小数，精确到分">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="hidden" name="method" value="upPrepaidBalance">
                                                        <button type="submit" class="layui-btn" lay-submit lay-filter="upPrepaidBalance">确认提交</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row" style="padding-bottom: 10px">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">结算设置</div>
                                        <div class="layui-card-body">
                                            <form class="layui-form" action="">
                                                <div class="layui-form-item">
                                                    <label for="settleFeeType_1" class="layui-form-label" style="width: 120px">结算手续费类型：</label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input id="settleFeeType_1"
                                                               type="radio"
                                                               name="settleFeeType"
                                                               value="1"
                                                               title="百分比收费"
                                                               th:checked="${merchant.settleAccount.settleFeeType == 1}">
                                                        <input type="radio"
                                                               name="settleFeeType"
                                                               value="2"
                                                               title="固定收费"
                                                               th:checked="${merchant.settleAccount.settleFeeType == 2}">
                                                        <input type="radio"
                                                               name="settleFeeType"
                                                               value="3"
                                                               title="百分比加固定收费"
                                                               th:checked="${merchant.settleAccount.settleFeeType == 3}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="settleFeeRate" class="layui-form-label" style="width: 120px">结算手续费比例：</label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               name="settleFeeRate" id="settleFeeRate"
                                                               autocomplete="off"
                                                               th:value="${merchant.settleAccount.settleFeeRate}"
                                                               placeholder="请输入结算手续费比例，百分比换小数。百分比收费模式">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="settleFeeAmount" class="layui-form-label" style="width: 120px">每笔手续费：</label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="number" class="layui-input"
                                                               name="settleFeeAmount" id="settleFeeAmount"
                                                               autocomplete="off"
                                                               th:value="${merchant.settleAccount.settleFeeAmount}"
                                                               placeholder="请输入结算手续费（元），保留两位小数。固定收费模式">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label  style="width: 120px"
                                                            for="settle-status_enable"
                                                            class="layui-form-label">
                                                        结算状态：
                                                    </label>
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input id="settle-status_enable"
                                                               type="radio"
                                                               name="settleStatus"
                                                               value="0"
                                                               title="关闭"
                                                               th:checked="${merchant.settleAccount.status == false}">
                                                        <input type="radio"
                                                               name="settleStatus"
                                                               value="1"
                                                               title="开启"
                                                               th:checked="${merchant.settleAccount.status == true}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item" style="width: 120px">
                                                    <div class="layui-input-block" style="margin-left: 150px;">
                                                        <input type="hidden" name="method" value="settleMent">
                                                        <button type="submit" class="layui-btn" lay-submit lay-filter="settleMent">立即提交</button>
<!--                                                        <button type="submit" class="layui-btn">立即提交</button>-->
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">

                            <div class="layui-row" style="padding-bottom: 10px">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">API配置信息</div>
                                        <div class="layui-card-body">
                                            <form class="layui-form">
                                                <div class="layui-form-item">
                                                    <fieldset class="layui-elem-field">
                                                        <legend>API_KEY</legend>
                                                        <div class="layui-field-box">
                                                            <input type="text" class="layui-input"
                                                                   name="apiKey" id="apiKey"
                                                                   autocomplete="off" readonly
                                                                   th:value="${merchant.apiConfig.apiKey}">
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="layui-form-item">
                                                    <fieldset class="layui-elem-field">
                                                        <legend>API_SECURITY</legend>
                                                        <div class="layui-field-box">
                                                            <input type="text" class="layui-input"
                                                                   name="apiSecurity" id="apiSecurity"
                                                                   autocomplete="off" readonly
                                                                   th:value="${merchant.apiConfig.apiSecurity}">
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="layui-form-item">
                                                    <fieldset class="layui-elem-field">
                                                        <legend>平台私钥</legend>
                                                        <div class="layui-field-box">
                                                            <textarea style="height: 200px"
                                                                      readonly class="layui-textarea"
                                                                      th:text="${merchant.apiConfig.privateKeyVal}"></textarea>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="layui-form-item">
                                                    <fieldset class="layui-elem-field">
                                                        <legend>平台公钥</legend>
                                                        <div class="layui-field-box">
                                                            <textarea style="height: 200px"
                                                                      readonly
                                                                      class="layui-textarea"
                                                                      th:text="${merchant.apiConfig.pubKeyVal}"></textarea>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row" style="padding-bottom: 10px">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">API证书配置</div>
                                        <div class="layui-card-body">
                                            <fieldset class="layui-elem-field">
                                                <legend>商户公钥配置</legend>
                                                <div class="layui-field-box">
                                                    <form class="layui-form">
                                                        <div class="layui-form-item">
                                                            <textarea name="desc"
                                                                      style="height: 150px"
                                                                      placeholder="请输入内容"
                                                                      th:text="${merchant.apiConfig.mchPubKeyVal}"
                                                                      class="layui-textarea"></textarea>
                                                        </div>
                                                        <div>
                                                            <input type="hidden" name="method" value="publicKey">
                                                            <button style="width: 100%" type="submit" class="layui-btn" lay-submit lay-filter="publicKey">重置公钥</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-row" style="padding-bottom: 10px">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">重置密码</div>
                                        <div class="layui-card-body">
                                            <form class="layui-form" action="">
                                                <div class="layui-form-item">
                                                    <label for="password" class="layui-form-label">登录密码：</label>
                                                    <div class="layui-input-block">
                                                        <input type="password" class="layui-input"
                                                               name="password" id="password"
                                                               lay-verify="title" autocomplete="off"
                                                               placeholder="请设置登录密码">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label for="passwordConfirm" class="layui-form-label" >确认密码：</label>
                                                    <div class="layui-input-block">
                                                        <input type="password" class="layui-input"
                                                               name="passwordConfirm" id="passwordConfirm"
                                                               lay-verify="title" autocomplete="off"
                                                               placeholder="请再次输入登录密码">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <div class="layui-input-block">
                                                        <input type="hidden" name="method" value="resetPassword">
                                                        <button type="submit" class="layui-btn" lay-submit lay-filter="resetPassword">重置密码</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="admin/footer::script"/>
<script th:inline="javascript">
</script>
<script th:inline="javascript">
    !function(){
        let layer = layui.layer
            ,form = layui.form
            ,$ = layui.jquery;
        let mchId = parseInt(location.pathname.split('/')[3]);
        // 支付账户
        form.on('submit(upPayBalance)', function(data){
            console.log('修改支付账户');
            // console.log(data);
            let params = {
                action:data.field.action,
                type:data.field.type,
                amount:data.field.amount,
                mchId:mchId
            }
            // console.log(params)
            // console.log('mchId',mchId)
            $.ajax({
                type:'post',
                url:'/api/v1/merchants/'+mchId+'/pay/account',
                data:params,
                statusCode: {
                    404: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },400: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },500: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },
                },
                success: function (response) {
                    location.reload();
                }
            })
            return false;
        });

        // 修改用户资料
        form.on('submit(updateUserInfo)', function(data){
            console.log('修改用户资料');
            // console.log(data);
            let params = {
                email:data.field.email,
                mchId:mchId,
                name:data.field.merchantName,
                status:parseInt(data.field.status),
                username:data.form[0].value
            }
            console.log(params)
            $.ajax({
                type: "post",
                url: "/api/v1/merchants/"+mchId,
                data: params,
                statusCode: {
                    404: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },400: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },500: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },
                },
                success: function (response) {
                    location.reload();
                }
            });
            return false;
        });

        // 重置公钥
        form.on('submit(publicKey)', function(data){
            console.log('重置公钥',data);
            $.ajax({
                type:'post',
                url:'/api/v1/merchants/'+mchId+'/mch_pub_key',
                data:data.field.desc,
                contentType: 'text/plain',
                statusCode: {
                    404: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },400: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },500: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },
                },
                success: function (response) {
                    location.reload();
                }
            })


            return false;
        });

        form.on('submit(settleMent)',function (data) {
            console.log('结算设置');
            // console.log(data);
            let params = {
                mchId:mchId,
                settleFeeAmount:data.field.settleFeeAmount,//结算费用
                settleFeeType:data.field.settleFeeType,//结算手续费类型
                status:data.field.settleStatus,//结算状态
                settleFeeRate:data.field.settleFeeRate
            }
            $.ajax({
                type:'post',
                url:'/api/v1/merchants/'+mchId+'/settle',
                data:params,
                statusCode: {
                    404: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },400: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },500: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },
                },
                success: function (response) {
                    location.reload();
                }
            })
            return false;
        })

        // 预充值账户
        form.on('submit(upPrepaidBalance)', function(data){
            console.log('增加预充值账户余额');
            // console.log(data);
            let params = {
                action:data.field.action,
                amount:data.field.amount,
                type:data.field.type,
                mchId:mchId
            };
            console.log(params)
            $.ajax({
                type:'post',
                url:'/api/v1/merchants/'+mchId+'/prepaid/account',
                data:params,
                statusCode: {
                    404: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },400: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },500: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },
                },
                success: function (response) {
                    location.reload();
                }
            })
            return false;
        });
        // 重置密码
        form.on('submit(resetPassword)',function (data) {
            console.log('重置密码');
            // console.log(data)
            if (data.field.password !== data.field.passwordConfirm) {
                layer.alert("两次输入的密码不一致");
                return false;
            }
            let params = {
                mchId:mchId,
                password:data.field.password
            };
            $.ajax({
                type:'post',
                url:'/api/v1/merchants/'+mchId+'/security',
                data:params,
                statusCode: {
                    404: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },400: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },500: function(data) {
                        layer.msg(data.responseJSON.message, {icon: 5});
                    },
                },
                success: function (response) {
                    location.reload();
                }
            })
            return false;
        })
    }();
</script>

</body>
</html>