<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>支付产品配置 - GreenPay</title>
    <th:block th:replace="admin/header::stylesheet" />
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="admin/header::nav"></div>
        <div th:replace="admin/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div th:replace="admin/compose::layui-breadcrumb('商户管理','支付产品配置')"></div>
                <div class="layui-fluid">
                    <div class="layui-row layui-col-space10">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">支付产品配置</div>
                                <div class="layui-card-body">
                                    <form class="layui-form" action="">
                                        <div class="layui-form-item">
                                            <label for="productName" class="layui-form-label">产品类型：</label>
                                            <div class="layui-input-block">
                                                <input type="text" class="layui-input"
                                                       readonly
                                                       name="productName" id="productName" autocomplete="off"
                                                       th:value="${merchantProduct.productName}">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label for="productType" class="layui-form-label">产品类型：</label>
                                            <div class="layui-input-block">
                                                <input type="hidden" name="productType" th:value="${merchantProduct.productType}">
                                                <input id="productType" type="radio"
                                                       value="0" title="收款" disabled
                                                       th:field="*{merchantProduct.productType}">
                                                <input type="radio" value="1" title="充值"
                                                       disabled
                                                       th:field="*{merchantProduct.productType}">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label for="rate" class="layui-form-label">商户费率：</label>
                                            <div class="layui-input-block">
                                                <input type="number" class="layui-input"
                                                       name="rate" id="rate" autocomplete="off"
                                                       th:value="${merchantProduct.rate}">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label for="interfaceMode_1" class="layui-form-label">接口模式：</label>
                                            <div class="layui-input-block">
                                                <input id="interfaceMode_1" type="radio" name="interfaceMode" value="1"
                                                       title="单独"
                                                       lay-filter="interfaceMode"
                                                       th:field="*{merchantProduct.interfaceMode}">
                                                <input type="radio" name="interfaceMode" value="2" title="轮训"
                                                       lay-filter="interfaceMode"
                                                       th:field="*{merchantProduct.interfaceMode}">
                                            </div>
                                        </div>

                                        <div class="layui-form-item" id="defaultPassage">
                                            <label for="defaultPassageId" class="layui-form-label">支付通道：</label>
                                            <div class="layui-input-block">
                                                <select name="defaultPassageId" id="defaultPassageId">
                                                    <option value="" selected>无</option>
                                                    <option th:each="item:${availPassages}"
                                                            th:text="${item.passageName}"
                                                            th:value="${item.id}"
                                                            th:field="*{merchantProduct.defaultPassageId}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item" id="defaultPassageAcc">
                                            <label for="defaultPassageAccId" class="layui-form-label">通道账户：</label>
                                            <div class="layui-input-block">
                                                <select name="defaultPassageAccId" id="defaultPassageAccId">
                                                    <option value="" selected>无</option>
                                                    <option th:each="item:${availPassagesAcc}"
                                                            th:text="${item.accountName}"
                                                            th:value="${item.id}"
                                                            th:field="*{merchantProduct.defaultPassageAccId}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item" id="loopPassage" style="display: none">
                                            <label for="defaultPassageAccId" class="layui-form-label">轮询通道：</label>
                                            <div class="layui-input-block">
                                                <table id="loopPassageTable" lay-filter="loopPassageTable"></table>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label for="status" class="layui-form-label">状态：</label>
                                            <div class="layui-input-block">
                                                <input id="status" type="radio" name="status"
                                                       value="0" title="关闭"
                                                       th:field="*{merchantProduct.status}">
                                                <input type="radio" name="status" value="1" title="开启"
                                                       th:field="*{merchantProduct.status}">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button type="submit" class="layui-btn">保存修改</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="admin/footer::script"/>
<script th:inline="javascript">
    let availPassagesJson = [[${availPassagesJson}]];
    let productId = [[${data.id}]];
    let interfaceMode = [[${data.interfaceMode}]];
    let usagePassagesJson = [[${usagePassagesJson}]];
</script>
<script th:inline="none">
    !function(){
        let layer = layui.layer
            ,table = layui.table;
        //第一个实例
    }();
</script>

</body>
</html>