<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>收银台</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qs@6.9.4/dist/qs.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            background-color: #fafafa!important;
        }
        #app {
            position: relative;
            padding-top: 130px;
        }
        .main{
            width: 450px;
            margin: 0 auto;
        }
        .main > .main-title {
            text-align: center;
        }
        .main > .main-title > h1 {
            font-weight: 100;
        }
    </style>
</head>

<body>
<div id="app">
    <div class="main">
        <div class="main-title">
            <h1>支付收银台</h1>
        </div>
        <el-card class="box-card ">
            <div slot="header" class="clearfix">
                <span>付款码支付</span>
            </div>
            <el-form
                :rules="rules"
                ref="payOrderForm"
                :model="form"
                action=""
                target="_blank"
                method="post"
                label-width="100px">
                <el-form-item
                        label="交易流水号"
                >
                    <el-input
                            v-model="form.orderNo"
                            disabled>
                    </el-input>
                </el-form-item>
                <el-form-item
                        label="交易订单号"
                >
                    <el-input
                            v-model="form.outOrderNo"
                            disabled>
                    </el-input>
                </el-form-item>
                <el-form-item
                        label="金额(元)"
                        >
                    <el-input
                            v-model="form.amount"
                            disabled>
                    </el-input>
                </el-form-item>
                <el-form-item
                    label="付款码"
                    prop="authCode">
                    <el-input
                        v-model="form.authCode"
                        placeholder="请输入付款码">
                    </el-input>
                </el-form-item>
                <el-form-item>
                    <el-button
                        native-type="submit"
                        @click.native="doPay"
                        v-loading.fullscreen.lock="fullscreenLoading"
                        type="primary">
                        确认支付
                    </el-button>
                </el-form-item>
            </el-form>
        </el-card>
    </div>

</div>
<script th:inline="javascript">
    let orderNo = [[${order.orderNo}]];
    let amount = [[${order.amountDisplay}]];
    let outOrderNo = [[${order.outOrderNo}]];
</script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                fullscreenLoading: false,
                form: {
                    authCode: '',
                    amount: amount,
                    orderNo: orderNo,
                    outOrderNo: outOrderNo
                },
                count: 0,
                isDoPay: false,
                rules: {
                    authCode: [
                        {
                            required: true,
                            message: '请输入付款码',
                            trigger: 'blur'
                        }, {
                            validator: function(rule, value, callback){
                                const reg = /^\d+$/;
                                if (!reg.test(value)){
                                    callback(new Error('付款码格式有误'));
                                }else{
                                    callback();
                                }
                            },
                            trigger: 'blur'
                        }
                    ]
                }
            }
        },
        mounted: function(){
            this.queryOrderStatus(orderNo);
        },
        methods: {
            doPay(e) {
                this.$refs['payOrderForm'].validate((valid) => {
                    if (valid) {
                        this.fullscreenLoading = true;
                        const then = this;
                        let channelExtra = {
                            'authCode': this.form.authCode
                        };
                        axios.post('/v1/cashiers/pages', {
                            orderNo: orderNo,
                            channelExtra:JSON.stringify(channelExtra)
                        }, {
                            transformRequest: [function (data) {
                                return Qs.stringify(data);
                            }],
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            }
                        }).then(function (response) {
                            then.isDoPay = true;
                            then.count = 0;

                        }).catch(function (error) {
                            then.fullscreenLoading = false;
                            const response = error.response;
                            const {code,message} = response.data;
                            then.$message({
                                type: 'error',
                                message: `${message}`
                            });
                        });
                    }
                    e.preventDefault();
                });
            },
            queryOrderStatus(orderNo){
                // this.fullscreenLoading = true;

                let then = this;
                let timer = setInterval(() => {
                    if (then.count++ >= 180 && then.isDoPay ){
                        this.fullscreenLoading = false;
                        alert("查询结果超时");
                        clearInterval(timer);
                        window.close();
                        return;
                    }
                    axios.get("/v1/cashiers/flow", {
                        //参数列表
                        params: {
                            orderNo: orderNo
                        },
                        //请求头配置
                        // headers:{ token: token }
                    }).then((res) => {
                        console.log(res);
                        if (res.data === ""){
                            window.close();
                        }
                        this.fullscreenLoading = false;
                        clearInterval(timer);
                        location.replace(res.data);
                        // console.log(res)
                    })
                }, 1000)
            }
        }
    })
</script>
</body>

</html>