<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>代付通道 - GreenPay</title>
    <th:block th:replace="admin/header::stylesheet" />
    <style>
        .layui-form-label{
            width: 90px;
        }
        .layui-input-block{
            margin-left: 120px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="admin/header::nav"></div>
        <div th:replace="admin/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div th:replace="admin/compose::layui-breadcrumb('商户管理','代付通道')"></div>
                <div class="layui-card error-card" th:style="${_errors==null}?'display:none;':''">
                    <div class="layui-card-body">
                        <blockquote class="layui-elem-quote" th:each="error:${_errors}" th:text="${error}"></blockquote>
                    </div>
                </div>
                <div class="layui-fluid">
                    <div class="layui-card">
                        <div class="layui-card-header">代付通道配置</div>
                        <div class="layui-card-body">
                            <form class="layui-form" action="" method="post">
                                <input type="hidden" name="feeAmount">
                                <input type="hidden" name="merchantId" th:value="${mchId}">
                                <input type="hidden" name="passageId" th:value="${data.passageId}">
                                <div class="layui-row layui-form-item">
                                    <label for="passageName" class="layui-form-label">通道名称：</label>
                                    <div class="layui-input-block">
                                        <input type="text" class="layui-input"
                                               name="passageName" id="passageName"
                                               readonly
                                               autocomplete="off" th:value="${data.passageName}"
                                               placeholder="请输入通道名称">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="feeType_1" class="layui-form-label">收费模式：</label>
                                    <div class="layui-input-block">
                                        <input id="feeType_1"
                                               type="radio"
                                               name="feeType"
                                               value="1"
                                               title="百分比收费"
                                               th:checked="${ data.feeType == null || data.feeType == 1}">
                                        <input type="radio"
                                               name="feeType"
                                               value="2"
                                               title="固定收费"
                                               th:field="*{data.feeType}">
                                        <input type="radio"
                                               name="feeType"
                                               value="3"
                                               title="百分比加固定收费"
                                               th:field="*{data.feeType}">
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <label for="feeRate" class="layui-form-label">百分比费率：</label>
                                    <div class="layui-input-block">
                                        <input type="text" class="layui-input"
                                               name="feeRate" id="feeRate"
                                               autocomplete="off" th:value="${data.feeRate}"
                                               placeholder="请输入百分比费率，保留2位小数">
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <label for="feeAmountYuan" class="layui-form-label">固定费用：</label>
                                    <div class="layui-input-block">
                                        <input type="text" class="layui-input"
                                               id="feeAmountYuan" autocomplete="off"
                                               th:value="${data.feeAmountDisplay}"
                                               placeholder="请输入固定费用，单位：元">
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <label for="weight" class="layui-form-label">轮询权重：</label>
                                    <div class="layui-input-block">
                                        <input type="number" class="layui-input"
                                               name="weight" id="weight"
                                               autocomplete="off" th:value="${data.weight}"
                                               placeholder="请输入轮询权重">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="status" class="layui-form-label">状态：</label>
                                    <div class="layui-input-block">
                                        <input id="status"
                                               type="radio"
                                               name="status"
                                               value="0"
                                               title="关闭"
                                               th:field="*{data.status}">
                                        <input type="radio" name="status" value="1" title="开启"
                                               th:field="*{data.status}">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="update">
                                            提交
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="admin/footer::script"/>
<script th:inline="none">
    !function(){
        let layer = layui.layer
            ,$ = layui.jquery
            ,form = layui.form;
        form.on('submit(update)', function(data){
            let feeAmountYuanText = $("#feeAmountYuan").val();
            let feeAmountYuan = 0;
            if (feeAmountYuanText.length > 0){
                feeAmountYuan = parseFloat(feeAmountYuanText);
            }
            let feeAmountFen = Math.round(feeAmountYuan*100);
            $("input[name='feeAmount']").val(feeAmountFen);
            return true;
        });
    }();
</script>

</body>
</html>