<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>代付通道 - GreenPay</title>
    <th:block th:replace="admin/header::stylesheet" />
    <style>
        .layui-form-label{
            width: 90px;
        }
        .layui-input-block{
            margin-left: 120px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="admin/header::nav"></div>
        <div th:replace="admin/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div th:replace="admin/compose::layui-breadcrumb('商户管理','代付通道')"></div>
                <div class="layui-card error-card" th:style="${_errors==null}?'display:none;':''">
                    <div class="layui-card-body">
                        <blockquote class="layui-elem-quote" th:each="error:${_errors}" th:text="${error}"></blockquote>
                    </div>
                </div>
                <div class="layui-fluid">
                    <div class="layui-card">
                        <div class="layui-card-header">代付通道配置</div>
                        <div class="layui-card-body">
                            <form class="layui-form" action="" method="post">
<!--                                <div class="layui-form-item">-->
<!--                                    <label for="payTypeCode" class="layui-form-label">支付类型：</label>-->
<!--                                    <div class="layui-input-block">-->
<!--                                        <select disabled id="payTypeCode">-->
<!--                                            <option value="" selected>无</option>-->
<!--                                            <option th:each="type:${availableTypes}"-->
<!--                                                    th:text="${type.typeName}"-->
<!--                                                    th:value="${type.typeCode}"-->
<!--                                                    th:selected="${data.payTypeCode == type.typeCode}">-->
<!--                                            </option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="layui-form-item">-->
<!--                                    <label for="interfaceCode" class="layui-form-label">支付接口：</label>-->
<!--                                    <div class="layui-input-block">-->
<!--                                        <select disabled id="interfaceCode">-->
<!--                                            <option value="" selected>无</option>-->
<!--                                            <option th:each="ins:${availableInters}"-->
<!--                                                    th:text="${ins.interfaceName}"-->
<!--                                                    th:value="${ins.interfaceCode}"-->
<!--                                                    th:selected="${data.interfaceCode == ins.interfaceCode}">-->
<!--                                            </option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="layui-row layui-form-item">
                                    <label for="passageName" class="layui-form-label">通道名称：</label>
                                    <div class="layui-input-block">
                                        <input type="text" class="layui-input"
                                               name="passageName" id="passageName"
                                               readonly
                                               autocomplete="off" th:value="${data.passageName}"
                                               placeholder="请输入通道名称">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="feeType_1" class="layui-form-label">收费模式：</label>
                                    <div class="layui-input-block">
                                        <input id="feeType_1"
                                               type="radio"
                                               name="feeType"
                                               value="1"
                                               title="百分比收费"
                                               th:checked="${ data.feeType == null || data.feeType == 1}">
                                        <input type="radio"
                                               name="feeType"
                                               value="2"
                                               title="固定收费"
                                               th:field="*{data.feeType}">
                                        <input type="radio"
                                               name="feeType"
                                               value="3"
                                               title="百分比加固定收费"
                                               th:field="*{data.feeType}">
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <label for="feeRate" class="layui-form-label">百分比费率：</label>
                                    <div class="layui-input-block">
                                        <input type="number" class="layui-input"
                                               name="feeRate" id="feeRate"
                                               autocomplete="off" th:value="${data.feeRate}"
                                               placeholder="请输入百分比费率，保留2位小数">
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <label for="feeAmount" class="layui-form-label">固定费用：</label>
                                    <div class="layui-input-block">
                                        <input type="number" class="layui-input"
                                               name="feeAmount" id="feeAmount"
                                               autocomplete="off" th:value="${data.feeAmountDisplay}"
                                               placeholder="请输入固定费用，单位：元">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label for="status" class="layui-form-label">状态：</label>
                                    <div class="layui-input-block">
                                        <input id="status"
                                               type="radio"
                                               name="status"
                                               value="0"
                                               title="关闭"
                                               th:field="*{data.status}">
                                        <input type="radio" name="status" value="1" title="开启"
                                               th:field="*{data.status}">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button type="submit" class="layui-btn">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="admin/footer::script"/>
<script th:inline="none">
    !function(){
        let layer = layui.layer
            ,table = layui.table;
    }();
</script>

</body>
</html>