<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>添加商户 - GreenPay</title>
    <th:block th:replace="admin/header::stylesheet" />
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="admin/header::nav"></div>
        <div th:replace="admin/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div th:replace="admin/compose::layui-breadcrumb('商户管理','添加商户')"></div>
                <div class="layui-card error-card" th:style="${_errors==null}?'display:none;':''">
                    <div class="layui-card-body">
                        <blockquote class="layui-elem-quote" th:each="error:${_errors}" th:text="${error}"></blockquote>
                    </div>
                </div>
                <div class="layui-fluid">
                    <div class="layui-card">
                        <div class="layui-card-header">添加商户</div>
                        <div class="layui-card-body">
                            <div class="layui-row">
                                <div class="layui-col-md12">
                                    <form class="layui-form" action="" method="post" novalidate>
                                        <div class="layui-row layui-form-item">
                                            <label for="mchId" class="layui-form-label">mchId：</label>
                                            <div class="layui-input-block">
                                                <input type="number" class="layui-input"
                                                       name="mchId" id="mchId"
                                                       autocomplete="true"
                                                       value="2">
                                            </div>
                                        </div>
                                        <div class="layui-row layui-form-item">
                                        <label for="amount" class="layui-form-label">amount：</label>
                                        <div class="layui-input-block">
                                            <input type="number" class="layui-input"
                                                   name="amount" id="amount"
                                                   autocomplete="true"
                                                   value="100">
                                        </div>
                                    </div>
                                        <div class="layui-form-item">
                                            <label for="accountName" class="layui-form-label">accountName：</label>
                                            <div class="layui-input-block">
                                                <input type="text" class="layui-input"
                                                       name="accountName" id="accountName"
                                                       autocomplete="true"
                                                       value="abc@abc">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label for="accountNumber" class="layui-form-label">accountNumber：</label>
                                            <div class="layui-input-block">
                                                <input type="text" class="layui-input"
                                                       name="accountNumber" id="accountNumber"
                                                       autocomplete="true"
                                                       value="abcabc">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label for="bankName" class="layui-form-label">bankName：</label>
                                            <div class="layui-input-block">
                                                <input type="text" class="layui-input"
                                                       name="bankName" id="bankName"
                                                       autocomplete="true"
                                                       value="招商银行">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label for="bankCode" class="layui-form-label">bankCode：</label>
                                            <div class="layui-input-block">
                                                <input type="text" class="layui-input"
                                                       name="bankCode" id="bankCode"
                                                       autocomplete="true"
                                                       value="016">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label for="bankAddress" class="layui-form-label">bankAddress：</label>
                                            <div class="layui-input-block">
                                                <input type="text" class="layui-input"
                                                       name="bankAddress" id="bankAddress"
                                                       autocomplete="true"
                                                       value="重庆渝中区">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button type="submit" class="layui-btn">立即提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="admin/footer::script"/>
<script th:inline="none">
    !function(){
        let layer = layui.layer
            ,table = layui.table;
    }();
</script>

</body>
</html>