<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商户后台 - GreenPay</title>
    <th:block th:replace="merchant/header::stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="layadmin-tabspage-none">
    <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login">
        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>商户后台登录</h2>
                <p>绿呗支付，行业解决方案服务商</p>
            </div>
            <form class="layadmin-user-login-box layadmin-user-login-body layui-form" method="post">
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="username"></label>
                    <input class="layui-input" id="username"
                           type="text" name="username"
                           placeholder="请输入登录用户名">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="password"></label>
                    <input class="layui-input" id="password"
                           type="password" name="password"
                           placeholder="请输入登录密码">
                </div>
                <div class="error-card" th:style="${_errors==null}?'display:none;':'margin-bottom: 15px;'">
                    <div>
                        <blockquote class="layui-elem-quote" style="color: #b30000; padding: 0; padding-left: 15px;"
                                    th:each="error:${_errors}"
                                    th:text="${error}">
                        </blockquote>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="login">立即登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="merchant/footer::script"/>
<script src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.13.0/js/md5.min.js"></script>
<script th:inline="none">
    !function(){
        let layer = layui.layer
            ,$ = layui.jquery
            ,form = layui.form;
        form.on('submit(login)', function(data){
            let passwordText = $("#password").val();
            let passwordVal = '';
            if (passwordText.length !== 0){
                passwordVal = md5(passwordText);
            }
            $("input[name='password']").val(passwordVal);
            return true;
        });
    }();
</script>
</body>
</html>