<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>基础资料 - GreenPay</title>
    <th:block th:replace="merchant/header::stylesheet"/>
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="merchant/header::nav"></div>
        <div th:replace="merchant/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div class="layui-fluid">
                    <div class="layui-card">
                        <div class="layui-tab layui-tab-brief">
                            <div class="layui-fluid">
                                <div class="layui-row layui-col-space15">
                                    <div class="layui-col-md12">
                                        <div class="layui-card">
                                            <div class="layui-card-header">安全设置</div>
                                            <div class="layui-card error-card" th:style="${_errors==null}?'display:none;':''">
                                                <div class="layui-card-body">
                                                    <blockquote class="layui-elem-quote" th:each="error:${_errors}" th:text="${error}"></blockquote>
                                                </div>
                                            </div>
                                            <div class="layui-card-body" pad15="">
                                            <form class="layui-form" action="">
                                                <div class="layui-form" lay-filter="">
                                                    <div class="layui-form-item">
                                                        <label class="layui-form-label">旧密码</label>
                                                        <div class="layui-input-inline">
                                                            <input type="password" name="oldPassword"  lay-verify="nickname" autocomplete="off" placeholder="请输入旧密码" class="layui-input">
                                                        </div>
                                                    </div>
                                                </div>
                                                    <div class="layui-form-item">
                                                        <label class="layui-form-label">新密码</label>
                                                        <div class="layui-input-inline">
                                                            <input type="password" name="password" lay-verify="nickname" autocomplete="off" placeholder="请输入新密码" class="layui-input">
                                                        </div>
                                                    </div>
                                                    <div class="layui-form-item">
                                                        <div class="layui-input-block">
                                                            <button class="layui-btn" lay-submit="" lay-filter="setmyinfo">确认修改</button>
                                                        </div>
                                                    </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="merchant/footer::script"/>
<script th:inline="none">
    !function(){
        let layer = layui.layer
            ,table = layui.table
            ,laydate = layui.laydate
            ,$ = layui.jquery
            ,form = layui.form;

        form.on('submit(setmyinfo)',function (data) {
            $.ajax({
                url:'/merchant/api/v1/updatepassword',
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    if(res.code == 0){
                        layer.msg(res.msg);
                    }
                    else
                        layer.msg(res.msg);
                },
                error:function (data) {
                    throw data;
                }
            });
            return false;
        })
    }();
</script>
</body>
</html>