<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单列表 - GreenPay</title>
    <th:block th:replace="merchant/header::stylesheet"/>
</head>
<body class="layui-layout-body">
<div class="layadmin-tabspage-none">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="merchant/header::nav"></div>
        <div th:replace="merchant/side::menu"></div>
        <div class="layui-body">
            <div class="layadmin-tabsbody-item layui-show">
                <div class="layui-fluid">
                    <div class="layui-card">
                        <div class="layui-tab layui-tab-brief">
                            <ul class="layui-tab-title">
                                <li class="layui-this">支付订单</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <div class="layui-row">
<!--                                        <form class="layui-form" style="float:right; margin-bottom: 10px;">-->
<!--                                            <div class="layui-form-item" style="margin:0;">-->
<!--                                                <div class="layui-input-inline">-->
<!--                                                    <input type="text" name="createTimeStart" id="createTimeStart"-->
<!--                                                           autocomplete="off" placeholder="开始时间" class="layui-input"-->
<!--                                                           lay-key="9">-->
<!--                                                </div>-->
<!--                                                <div class="layui-input-inline">-->
<!--                                                    <input type="text" name="createTimeEnd" id="createTimeEnd"-->
<!--                                                           autocomplete="off" placeholder="结束时间" class="layui-input"-->
<!--                                                           lay-key="10">-->
<!--                                                </div>-->
<!--                                                <div class="layui-input-inline">-->
<!--                                                    <input type="text" name="payOrderId" id="payOrderId"-->
<!--                                                           placeholder="支付单号" autocomplete="off" class="layui-input">-->
<!--                                                </div>-->
<!--                                                <div class="layui-input-inline">-->
<!--                                                    <input type="text" name="mchOrderNo" id="mchOrderNo"-->
<!--                                                           placeholder="商户单号" autocomplete="off" class="layui-input">-->
<!--                                                </div>-->
<!--                                                <div class="layui-input-inline">-->
<!--                                                    <div class="layui-input-block">-->
<!--                                                        <select name="status" id="status" lay-verify="required">-->
<!--                                                            <option value="-99">状态</option>-->
<!--                                                            <option value="1">支付成功</option>-->
<!--                                                            <option value="0">待支付</option>-->
<!--                                                            <option value="-1">支付失败</option>-->
<!--                                                            <option value="2">退款</option>-->
<!--                                                        </select>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <button id="search" class="layui-btn" lay-submit data-type="reload" lay-filter="formOrder">搜索</button>-->
<!--                                            </div>-->
<!--                                        </form>-->
<!--                                        <div class="layui-form-item">-->
<!--                                            <blockquote class="layui-elem-quote" id="amountTip">-->
<!--                                                提交订单数:-->
<!--                                                <sapn id="allTotalCount" style="color: blue; margin-right: 10px;">149-->
<!--                                                </sapn>-->
<!--                                                订单总金额:<span id="allTotalAmount"-->
<!--                                                            style="color: blue; margin-right: 10px;">￥2658.66</span>-->
<!--                                                已付订单数:<span id="successTotalCount"-->
<!--                                                            style="color: green; margin-right: 10px;">22</span>-->
<!--                                                已付总金额:<span id="successTotalAmount"-->
<!--                                                            style="color: green; margin-right: 10px;">￥4.7</span>-->
<!--                                                商户总收入:<span id="successTotalMchIncome"-->
<!--                                                            style="color: green; margin-right: 10px;">￥4.61</span>-->
<!--                                                未付订单数:<span id="failTotalCount" style="color: red; margin-right: 10px;">127</span>-->
<!--                                                未付总金额:<span id="failTotalAmount"-->
<!--                                                            style="color: red; margin-right: 10px;">￥2653.96</span>-->
<!--                                            </blockquote>-->
<!--                                        </div>-->
                                    </div>
                                    <div>
                                        <table id="orderlist" lay-filter="orders"></table>
                                        <script type="text/html" id="statusTpl">
                                            {{#  if(d.status == 1){ }}
                                            <button class="layui-btn layui-btn-warm layui-btn-xs">待付款</button>
                                            {{#  } if(d.status == 2) { }}
                                            <button class="layui-btn layui-btn-xs">已支付</button>
                                            {{#  } if(d.status == 3) { }}
                                            <button class="layui-btn layui-btn-normal layui-btn-xs">订单完成</button>
                                            {{#  } if(d.status == -1) { }}
                                            <button class="layui-btn layui-btn-disabled layui-btn-xs">交易取消</button>
                                            {{#  } if(d.status == -2) { }}
                                            <button class="layui-btn layui-btn-danger layui-btn-xs">交易失败</button>
                                            {{#  } }}
                                        </script>
                                        <script type="text/html" id="barDemo">
                                            <a th:href="@{'/order/list/{{d.orderNo}}/detail'}"
                                               class="layui-btn layui-btn-xs layui-btn-primary">查看</a>
<!--                                            <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary">补单</a>-->
                                            <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary">通知</a>
                                        </script>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<th:block th:replace="merchant/footer::script"/>
<script th:inline="none">
    !function(){
        let layer = layui.layer
            ,table = layui.table
            ,laydate = layui.laydate
            ,form = layui.form;
        //第一个实例
        table.render({
            elem: '#orderlist',
            url: '/merchant/api/v1/orders', //数据接口
            page: true,//开启分页
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": 0,
                    "msg": res.message,
                    "count": res.total,
                    "data": res.records
                };
            }
            , request: {
                pageName: 'current',
                limitName: 'size'
            }
            , cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                , {field: 'orderNo', title: '订单编号', width: "15%",align:'center'}
                , {field: 'outOrderNo', title: '商户订单号', width: "15%",align:'center'}
                , {field: 'amount', title: '订单金额', width: "15%",align:'center'}
                , {field: 'status', title: '订单状态',templet: "#statusTpl", width: "15%" ,align:'center'}
                , {field: 'createdAt', title: '创建时间', width: "15%",align:'center'}
                ,{title: '操作', align: 'left',toolbar: '#barDemo', width:'15%'}
            ]]
        });
        laydate.render({
            elem: '#createTimeStart'
        });
        laydate.render({
            elem: '#createTimeEnd'
        });
        form.on('submit(formOrder)',function (data) {
            console.log(data)
            return false;
        });
        $("#operationBtn").click(function () {
            layer.open({
                type: 2,
                title: '订单详情',
                content: ''
            })
        })
    }();
</script>
</body>
</html>